<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/styles.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="card">
        <h1>{{ question.question_text }}</h1>
        <ul>
            {% for choice in question.choice_set.all %}
            <li>{{ choice.choice_text }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
