<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/styles.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="card">
        <form action="{% url 'polls:detail' question.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend><h1>{{ question.question_text }}</h1></legend>
                {% if error_message %}
                <p class="err"><strong>{{ error_message }}</strong></p>
                {% endif %}

                <table>
                    <tr>
                        <th>Choice</th>
                        <th>Votes</th>
                    </tr>
                    {% for choice in question.choice_set.all %}
                    <tr>
                        <td>
                            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                        </td>
                        <td>{{ choice.votes }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </fieldset>
            <input type="submit" value="Vote">
        </form>
        <br>
        <a href="{% url 'polls:index' %}">Back</a>
    </div>
</div>
</body>
</html>
