body {
    background: #282828;
    font-family: monospace;
    justify-content: center;
}

li {
    list-style-type: none;
}

a {
    color: #0088ff;
}

fieldset {
    border: none;
}

th {
    text-align: left;
}

td {
    padding: 0 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 10px;
    background: #dedede;
    padding: 21px;
    width: 50%;
    margin-top: 30px;
}

.err {
    color: #b00707;
}
